@{
    ViewData["Title"] = "Home Page";
}

@model List<Chef>
<div class="jumbotron">
    <p style="display: inline-block">Chefs</p>
    <p style="display: inline-block">|</p>
    <p style="display: inline-block"><a href="/dishes">Dishes</a></p>
    <br>
    <a href="register" class="btn btn-primary">Add Chef!</a>
</div>
<h1>Here are All the Chefs</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Birthday</th>
            <th>Number of Dishes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var chef in Model)
        {
        <tr>
            <td>@chef.FirstName @chef.LastName</td>
            <td>
                @chef.BOD
            </td>
            <td>@chef.Dishes.Count</td>
        </tr>
        }
    </tbody>
</table>
